/**
 * uview
 */

$u-main-color: #3a3b3e;
$u-content-color: #3a3b3e;
$u-tips-color: #909399;
$u-light-color: #c0c4cc;

$u-border-color: #e4e7ed;

$u-bg-color: #f3f4f6;

$u-type-primary: #c471ed;
$u-type-primary-light:rgba(#c471ed, 0.65);
$u-type-primary-disabled: rgba(#c471ed, 0.4);
$u-type-primary-dark: rgba(#c471ed, 1.3);

$u-type-warning: #ff9900;
$u-type-warning-disabled: #fcbd71;
$u-type-warning-dark: #f29100;
$u-type-warning-light: #fdf6ec;

$u-type-success: #19be6b;
$u-type-success-disabled: #71d5a1;
$u-type-success-dark: #18b566;
$u-type-success-light: #dbf1e1;

$u-type-error: #fa3534;
$u-type-error-disabled: #fab6b6;
$u-type-error-dark: #dd6161;
$u-type-error-light: #fef0f0;

$u-type-info: #909399;
$u-type-info-disabled: #c8c9cc;
$u-type-info-dark: #82848a;
$u-type-info-light: #f4f4f5;

$u-form-item-height: 70rpx;
$u-form-item-border-color: #dcdfe6;

/**
 * uni
 */

/* 颜色变量 */

/* 行为相关颜色 */

$uni-color-primary: $u-type-primary;
$uni-color-primary-light: $u-type-primary-light;
$uni-color-primary-disabled: $u-type-primary-disabled;
$uni-color-primary-dark: $u-type-primary-dark;

$uni-color-success: $u-type-success; 
$uni-color-warning: $u-type-warning;
$uni-color-error: $u-type-error;

/* 文字基本颜色 */
$uni-main-color: $u-main-color;
$uni-content-color: $u-content-color;
$uni-tips-color: $u-tips-color;
$uni-light-color: $u-light-color;

/* 背景颜色 */
$uni-bg-color: $u-bg-color;
$uni-bg-color-mask:rgba(0, 0, 0, 0.4);//遮罩颜色

/* 边框颜色 */
$uni-border-color:$u-border-color;

/* 尺寸变量 */

/* 文字尺寸 */
$uni-font-size-xs:24rpx;
$uni-font-size-sm:28rpx;
$uni-font-size-base:32rpx;
$uni-font-size-lg: 36rpx;

/* 图片尺寸 */
$uni-img-size-mini:44rpx;
$uni-img-size-sm:76rpx;
$uni-img-size-base:92rpx;
$uni-img-size-lg: 120rpx;

/* Border Radius */
$uni-border-radius-sm: 4rpx;
$uni-border-radius-base: 6rpx;
$uni-border-radius-lg: 12rpx;
$uni-border-radius-circle: 50%;

/* 水平间距 !!! */
$uni-spacing-row-sm: 10rpx;
$uni-spacing-row-base: 20rpx;
$uni-spacing-row-lg: 30rpx;

/* 垂直间距 !!! */
$uni-spacing-col-sm: 8rpx;
$uni-spacing-col-base: 16rpx;
$uni-spacing-col-lg: 24rpx;

/* 透明度 */
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度

/* 界面水平边界间距 */
$uni-padding-horizontal: 30rpx;